@import "src/theme.scss";

.login-container {
  background: $background;
  display: flex;
  flex-direction: column;
  padding: $xxl;
  min-height: 0;
  width: fit-content;

  & > *:first-child {
    margin-top: 0;
  }

  & > * {
    margin-top: $lg;
  }

  .heading {
    display: flex;
    flex-direction: column;
    width: fit-content;
    & > * {
      white-space: nowrap;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    min-height: 0;
    display: flex;
    width: fit-content;
    flex-direction: column;

    & > *:first-child {
      margin-top: 0;
    }

    & > * {
      margin-top: $xs;
    }

    button {
      width: min-content;
    }
  }

  .divider {
    display: flex;
    width: 100%;
    min-width: 0;
    align-items: center;
    height: $sm;

    & > * {
      margin-left: $sm;
    }
    & > *:first-child {
      margin-left: 0;
    }

    .divider-line {
      width: 100%;
      min-width: 0;
      border-radius: $xs;
      background-color: $stroke-weak;
      height: $stroke-sm;
    }
  }

  .create-account {
    display: flex;
    width: min-content;
  }
}
