@import "src/theme.scss";

.button {
  @include raised;
  @include focuses;
  border-radius: $xs;
  border-width: 1px;
  border-style: solid;
  width: fit-content;
  padding-left: $med;
  padding-right: $med;
  padding-top: $sm;
  padding-bottom: $sm;
  cursor: pointer;

  p {
    font-size: $sm;
    background-color: transparent;
    font-weight: bold;
  }

  &.primary {
    background-color: $blue-600;
    border-color: transparent;
    p {
      color: $background;
    }

    &:hover {
      background-color: $blue-500;
    }
  }

  &.secondary {
    background-color: transparent;
    border-color: $blue-600;
    p {
      color: $blue-600;
    }

    &:hover {
      background-color: $blue-300;
      border-color: $blue-300;

      p {
        color: $blue-600;
      }
    }
  }
}
