@import "src/theme.scss";

.new-account-form {
  background: $background;
  display: flex;
  flex-direction: column;
  padding: $xxl;
  min-height: 0;
  width: fit-content;

  .heading {
    display: flex;
    flex-direction: column;
    width: fit-content;
    & > * {
      white-space: nowrap;
    }
  }

  form {
    margin-top: $xl;
    display: flex;
    width: fit-content;
    flex-direction: column;

    & > *:first-child {
      margin-top: 0;
    }

    & > * {
      margin-top: $xs;
    }

    .footer {
      margin-top: $xl;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      & > * {
        margin-left: $sm;
      }
      & > *:first-child {
        margin-left: 0;
      }

      .button-container {
        display: flex;
        width: fit-content;

        & > * {
          margin-left: $med;
        }
        & > *:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
