@import "src/theme.scss";

.text-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;

  .text-input-label {
    color: $text-weak;
    font-size: $sm;
    min-width: 0;
  }

  .text-input-input {
    margin-top: $xs;
    border-width: 0;
    background-color: $fill;
    border-radius: $xs;
    padding: $xs;
    width: 100%;
    min-width: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:focus-within {
      @include focus;
    }

    input {
      border-width: 0;
      background-color: transparent;
      width: 100%;
      font-size: $sm;
      padding: $stroke-med;

      &:focus,
      &:focus-visible {
        outline-style: unset;
        outline-color: transparent;
        outline-width: 0;
      }
    }

    .icon {
      width: $sm;
      height: $sm;
      stroke-width: $stroke-sm;
      flex-shrink: 0;
    }

    button {
      @include focuses;
      border-width: 0;
      cursor: pointer;
      background-color: transparent;
      border-radius: $xs;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $stroke-med;
    }
  }

  .error {
    color: $red;
  }

  .error-message {
    margin-top: $xs;
    color: $red;
    font-size: $xs;
    height: $sm;
    font-weight: bold;
    text-transform: uppercase;
  }
}
