@import "src/theme.scss";

.text-input {
  display: flex;
  flex-direction: column;

  &.width-full {
    width: 100%;
    min-width: 0;
  }
  &.width-fit {
    width: fit-content;
  }

  .text-input-label {
    color: $text-weak;
    font-size: $sm;
    &.width-full {
      width: 100%;
      min-width: 0;
    }
    &.width-fit {
      width: fit-content;
    }
  }

  .text-input-input {
    margin-top: $xs;
    border-width: 0;
    background-color: $fill;
    border-radius: $xs;
    padding: $xs;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.width-full {
      width: 100%;
      min-width: 0;
    }
    &.width-fit {
      width: fit-content;
      min-width: $xxl;
    }

    &:focus-within {
      @include focus;
    }

    input {
      border-width: 0;
      background-color: transparent;
      width: 100%;
      font-size: $sm;
      padding: $xs;

      &:focus,
      &:focus-visible {
        outline-style: unset;
        outline-color: transparent;
        outline-width: 0;
      }
    }

    .icon {
      width: $sm;
      height: $sm;
      stroke-width: $stroke-sm;
      flex-shrink: 0;
      margin: $xs;

      &.error {
        color: $red;
      }
    }

    button {
      @include focuses;
      border-width: 0;
      cursor: pointer;
      background-color: transparent;
      border-radius: $xs;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
  }

  .error-message {
    margin-top: $xs;
    color: $red;
    font-size: $sm;
    height: $sm;
    padding-left: $xs;
    padding-right: $xs;
    &.width-full {
      width: 100%;
      min-width: 0;
    }
    &.width-fit {
      width: fit-content;
    }
  }
}
