@import "src/theme.scss";

.new-account-form {
  background: $background;
  display: flex;
  flex-direction: column;
  padding: $xxl;
  min-height: 0;
  width: fit-content;
  align-items: center;

  .heading {
    display: flex;
    flex-direction: column;
    width: fit-content;
    & > * {
      white-space: nowrap;
    }
  }

  form {
    margin-top: $xl;
    display: flex;
    width: 100%;
    min-width: fit-content;
    flex-direction: column;

    & > *:first-child {
      margin-top: 0;
    }

    & > * {
      width: 100%;
      margin-top: $xs;
    }

    .button-container {
      margin-top: $xl;
      display: flex;
      width: 100%;
      min-width: fit-content;

      & > * {
        margin-left: $med;
      }
      & > *:first-child {
        margin-left: 0;
      }
    }
  }
}
