// color palette
$blue-600: hsl(217, 64%, 47%);
$blue-300: hsl(217, 70%, 40%);
$red: hsl(0, 89%, 70%);
$text-strong: hsl(217, 61%, 20%);
$text-weak: hsl(217, 63%, 20%);
$stroke-strong: hsl(217, 63%, 30%);
$stroke-weak: hsl(217, 0%, 84%);
$fill: hsl(217, 15%, 96%);
$background: hsl(217, 70%, 99%);

//spacing
$xs: 0.5rem;
$sm: 1rem;
$med: 2rem;
$lg: 4rem;
$xl: 8rem;
$xxl: 16rem;

//sizing
$stroke-sm: 2px;
$stroke-med: 4px;
