// color palette
$blue-600: hsl(217, 64%, 47%);
$blue-300: hsl(217, 70%, 40%);
$red: hsl(0, 89%, 70%);
$text-strong: hsl(217, 61%, 20%);
$text-weak: hsl(217, 63%, 20%);
$stroke-strong: hsl(217, 63%, 30%);
$stroke-weak: hsl(217, 0%, 84%);
$fill: hsl(217, 15%, 96%);
$background: hsl(217, 70%, 99%);

//spacing
$xs: 0.5rem;
$sm: 1rem;
$med: 2rem;
$lg: 4rem;
$xl: 8rem;
$xxl: 16rem;

//sizing
$stroke-sm: 2px;
$stroke-med: 4px;

//shadow
@mixin raised {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

//focus
@mixin focus {
  outline-style: solid;
  outline-width: $stroke-sm;
  outline-color: $blue-600;
  outline-offset: $stroke-sm;
}
@mixin focuses {
  &:focus,
  &:focus-visible {
    @include focus;
  }
}

//typeography
h1 {
  white-space: nowrap;
  color: $text-strong;
  font-size: $lg;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: $sm;
  color: $text-weak;
}

//responsive breakpoints
@mixin screen-sm {
  @media (min-width: #{640px}) {
    @content;
  }
}

@mixin screen-med {
  @media (min-width: #{768px}) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: #{1024px}) {
    @content;
  }
}

@mixin screen-xl {
  @media (min-width: #{1280px}) {
    @content;
  }
}
